# Tuple creation

In [15]:
tup1 = () # empty tuple

In [16]:
tup2 = (10,20,30) #tuple of integer number

In [17]:
tup3=(10.77,30.44,40.55) #tuple of float number

In [18]:
tup4 =('one','two','three') #tuple of string

In [19]:
tup5 = (10,20,(50,40),('one','two')) #nested tuple

In [20]:
tup6 =('One',1,1.44) #tuple of mixed data type

In [21]:
tup7 = ('Asif', 25 ,[50, 100], [150, 90] , {'John', 'David'} , (99,22,33)) #tuple of mixed data type

# Tuple indexing

In [22]:
tup2[0] #accessing element of tuple)

10

In [23]:
tup4[-1]    #accessing last element of tuple

'three'

# Tuple slicing

In [24]:
mytuple = ('one', 'two' , 'three', 'four' , 'five', 'six' , 'seven' ,'eight')
mytuple[2:5] #slicing tuple

('three', 'four', 'five')

In [25]:
mytuple[:3] # Return first three elements of the tuple

('one', 'two', 'three')

In [26]:
mytuple[-3:] # Return last three elements of the tuple

('six', 'seven', 'eight')

In [27]:
mytuple[:] # Return all elements of the tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & change items

In [28]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

# Loop through the tuple

In [ ]:
for i in mytuple:
    print(i) #Iterating through tuple

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
    print(i) #Iterating through tuple using enumerate

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple membership

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple #Check if item exists in tuple

True

In [ ]:
'ten' in mytuple

False

In [ ]:
if 'three' in mytuple:
    print('Yes, three is in the tuple')
else :
  print('No, three is not in the tuple')

Yes, three is in the tuple

# Index position

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple.index('one')

0

In [ ]:
mytuple.index('four')

3

In [ ]:
mytuple2 = (43,67,99,12,6,90,67)
sorted(mytuple2) #Sorting tuple and returns a new sorted list

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
sorted(mytuple2, reverse=True) #Sorting tuple in descending order

[99, 90, 67, 67, 43, 12, 6]

In [ ]:
mytuple2*3
mytuple2

(43, 67, 99, 12, 6, 90, 67)